table.transients {

	.column-name {
		width: 30%;
	}

	.column-value {
		.nowrap {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}

	.column-expiration {
		width: 18%;
	}

	.badge {
		//padding: 3px 6px;
		//border-radius: 5px;
		//background-color: #F0F0F1;
		//color: #000;

		&.badge-green {
			//background-color: #28a745;
			//color: #fff;
		}

		&.badge-red {
			//background-color: #dc3545;
			//color: #fff;
		}
	}

	.inline-edit-row {
		.inline-edit-col-top {
			padding: 0 !important;

			@media screen and (min-width: 782px) {
				padding: 0 12px 0 0 !important;
			}

			.inline-edit-col-split {
				display: flex;
				flex-direction: column;
				gap: 0;

				@media screen and (min-width: 782px) {
					align-items: center;
					flex-direction: row;
					gap: 12px;
				}

				> label {
					flex: 0 0 auto;

					input, select {
						width: 100%;
						margin: 0;
					}
				}
			}
		}
	}
}
